<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>THE HOME PAGE</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ducimus dolore excepturi neque perferendis minus
        sunt, vitae, ipsam dolorem eius sapiente modi alias eum laudantium? Inventore eum similique illo adipisci!</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe nesciunt eius enim temporibus laudantium rem.
        Quas architecto, quos deserunt sapiente exercitationem totam sequi magni, error, dolores unde adipisci a ullam.
    </p>
</body>

</html>