<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONDITIONAL</title>
</head>
<body>
    <h1>Random number: <%= num %></h1>   <!--<%= %>: Evaluates the JavaScript inside and outputs the result directly to the webpage (used for printing variables).-->

    <% if(num%2===0){ %>                <!--<% %>: Runs JavaScript logic (like if/else statements or loops) behind the scenes without printing anything to the screen.-->
        <h2>That is an even number</h2>  
    <%}else{ %>
        <h2>That is an odd number</h2>
    <%} %>

    <h2>That number is : <%= num%2===0 ? 'Even':'Odd' %></h2>   <!--ternary operator (condition ? true : false)-->
</body>
</html>